@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fdfdfd;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.weather-input {
    width: 100%;
    max-width: 380px;
    background: #78c1f3;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input-group {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0 1.5rem 0;
}

.input-group input {
    width: 100%;
    background: #f8f8f8;
    text-transform: capitalize;
    padding: 1rem;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
}

.input-group .converter {
    position: absolute;
    right: 45px;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
}

.input-group .fa-search {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #636363;
    font-size: 22px;
}

.weatherIcon {
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2rem 0 1rem 0;
}

.temperature {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
}

.feelslike, .description, .date, .city {
    text-align: center;
    margin: 6px;
    font-size: 1.05rem;
    color: #131313;
}

.weather-output {
    flex: 1;
    padding: 2rem;
    background: #f6f6f6;
    min-width: 375px;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    color: #131313;
}

.Highlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.card {
    background: #78c1f3;
    border-radius: 20px;
    color: #031018;
    text-align: center;
    padding: 1.3rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 175px;
    justify-content: center;
    gap: 10px;
}

.card i {
    font-size: 2.2rem;
}


.Forecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-auto-flow: row;
  gap: 1.2rem;
}


.Forecast .forecast-card {
    background: #78c1f3;
    color: #131313;
    border-radius: 15px;
    text-align: center;
    padding: 1rem;
}

.forecast-desc {
    color: #666;
    font-size: 0.95rem;
    font-style: italic;
    margin-bottom: 6px;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    .weather-output {
        width: 100%;
        min-width: auto;
    }
}

@media (max-width: 600px) {
    .weather-input {
        max-width: 100%;
        padding: 1.2rem;
    }
    .weather-output {
        padding: 1rem;
    }
    .Highlights, .Forecast {
        grid-template-columns: 1fr;
    }
}
